@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

body {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
}

header {
  background-image: url(bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1,
h4 {
  color: hsl(210, 10%, 33%);
}
h3,
p {
  color: hsl(201, 11%, 66%);
}

.btn-mac {
  color: #fff;
  border-color: hsl(233, 100%, 69%);
  background-color: hsl(233, 100%, 69%);
  border-radius: 50px;
  padding: 15px 50px;
}

.btn-ios {
  color: #fff;
  border-color: hsl(171, 66%, 44%);
  background-color: hsl(171, 66%, 44%);
  border-radius: 50px;
  padding: 15px 50px;
}

.btn-ios:hover {
  color: #fff;
}
.btn-mac:hover {
  color: #fff;
}

.texto {
  margin-bottom: 70px;
}

.icones img {
  padding-bottom: 60px;
}

#footer {
  padding: 60px;
  margin-top: 100px;
  background: #f5f6f8;
}

.icones-sociais img {
  padding: 10px;
}

.logo {
  height: 70px;
  width: 70px;
}

@media (max-width: 739px) {
  #footer {
    text-align: center;
  }
  .logo {
    margin-bottom: 30px;
  }
  .img-computer {
    margin-bottom: 60px;
  }
}
